<body>
<header class = "header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Chivilflix</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/films" >total peliculas</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/films/buscar/t" >x nombre</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/films/id/4" >x id</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/films/categoria/pelicula" >X Categoria</a></li>
                        <li class="nav-item"><a  class="nav-link active" aria-current="page" href="/films/genero/aventura" >X genero</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/films/reparto/scar" >X actor</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/films/cargar/" >cargar pelicula</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/films/cambiar/" >modificar pelicula</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="/films/eliminar/" >eliminar pelicula</a></li>
                    </ul>
                    </div>
        </div>
    </nav>
</header>
<main class = "main">

